
/*ページ全体*/
body {
    margin: 0;
    padding: 20px;
    background-color: #f5f5f5;
    font-family: "Yu Gothic UI", sans-serif;
}

.container {
    max-width: 700px;
    margin: 0 auto;
    padding: 10px 0;
}


/*フォーム*/
form {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input, textarea {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 5px;
    border: 1px solid #ccc;
    outline: none;
    transition: border-color 0.3s;
}
textarea {
    resize: none;
}

input:focus, textarea:focus {
    border: 2px solid #82addd;
    box-shadow: 0 0 5px 2px rgba(130, 173, 221, 0.3);
}

input:hover, textarea:hover {
    border-color: #82addd;
}

#postButton {
    cursor: pointer;
    background-color: #82addd;
    color: white;
    padding: 5px 8px;
    border: none;
    transition: background-color 0.3s;
}

#postButton:hover {
    background-color: #5d9ee9;
}



/*ポスト*/
#posts {
    background-color: white;
    border-radius: 10px;
    padding: 20px;
}

.post { 
    padding: 26px 0;
    border-bottom: solid 1px #cccccc;
    position: relative;
}

.post:first-child {
    padding-top: 0;
}
.post:last-child {
    border-bottom: none;
    padding-bottom: 10px;
    margin: 0;
}

.postHeader {
    display: flex;
    gap: 10px;
    align-items: center;
    margin-bottom: 10px;
}

.postFooter {
    display: flex;
    gap: 10px;
    justify-content: flex-end;

    align-content: center;

    position: absolute;
    top: 26px;
    right: 0px;
    opacity: 0;
    transition: 0.7s ease-out;
}

.post:first-child .postFooter {
    top: 0;
}

.post:hover .postFooter.is-open {
    opacity: 1;
}

.image-button {
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
  display: inline-block;
  line-height: 0;
  position: absolute;
  top: 26px;
  right: 0px;
  opacity: 0;
  transition: transform 0.5s ease-out, opacity 0.3s ease-out 0.2s;
  transform: translateX(0);
}

.post:first-child .image-button {
    top: 0;
}

.post:hover .image-button {
    opacity: 1;
}

.post:hover .image-button.is-change {
    transform: translateX(-110px);
}

.image-button img {
  display: block;
  width: 100%;
  height: auto;
}

.name {
    font-weight: bold;
    font-size: 18px;
}

.date {
    color: #999;
    font-size: 14px;
}